body {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #5f5348;
}

h1, h2, h3 {
    color: #312a23;
}

.orokbefogadas {
    font-family: 'Georgia', serif;
    margin: 0;
    padding: 0;
    background-color: #fff; 
    background-size: cover;
    color: #333;
}

header {
    background-color: #615839bf;
    color: #fff;
    text-align: center;
    padding: 1em;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 0.5em;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: font-size 0.3s, color 0.3s;
}

nav a:hover {
    font-size: 1.2em; 
    color: #615839bf; 
}

section {
    padding: 2em;
}

.welcome-header {
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.8);
}

.welcome-text {
    font-size: 30px;
    color: #312a23;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.6em;
    margin-top: 1.5em;
}

.description {
    background-color: none;
    color: #b1ac9f;
    text-align: left;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #f7f7f7; 
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #615839;
    color: #fff;
}


form input[type="submit"] {
    background-color: #615839;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; 
}

form input[type="submit"]:hover {
    background-color: #473b2f; 
}

.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
}

.image-container {
    display: flex;
    justify-content: center;
}

ul.links {
    list-style-type: disc; 
    padding: 0; 
}

ul.links li {
    margin-bottom: 10px; 
}

ul.links a {
    text-decoration: none; 
    color: #333; 
    font-weight: bold; 
}

ul.links a:hover {
    color: #291d14; 
}

.apply-button {
    background-color: #4CAF50;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
.fade-in {
animation: fadeIn 1.5s ease-in-out;
  }